{:schema
 {:create/user
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :node/subpages
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :vc/blocks
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :edit/seen-by
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :window/id {:db/unique :db.unique/identity},
  :attrs/lookup
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :node/windows
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :d/v
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :block/clone
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :node/sections
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :harc/v
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :node/title {:db/unique :db.unique/identity},
  :block/refs
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :harc/a
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :edit/user
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :block/subpage
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :block/children
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :block/focused-user
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :create/seen-by
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :block/uid {:db/unique :db.unique/identity},
  :d/e
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :d/a
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :user/uid {:db/unique :db.unique/identity},
  :node/links
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :link/to
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :user/email {:db/unique :db.unique/identity},
  :query/results
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :harc/e
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :block/parents
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :block/page
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :version/id {:db/unique :db.unique/identity}},
 :datoms
 [[1 :version/id "0.0.0" 536870913]
  [1
   :version/nonce
   "uuidfdc21d6f-6e72-4ddc-a80f-583a49a2d242"
   536870913]
  [1
   :version/upgraded-nonce
   "uuidfdc21d6f-6e72-4ddc-a80f-583a49a2d242"
   536870914]
  [2 :version/id "0.8.1" 536870914]
  [2
   :version/nonce
   "uuid10c37e0c-409f-4585-bc21-337375512d6d"
   536870919]
  [3 :block/uid "12mX8s2DW" 536870915]
  [3 :user/display-name "Erik Newhard" 536870915]
  [3
   :user/photo-url
   "https://lh3.googleusercontent.com/a-/AOh14GiPJn3ovPV2ewfBUOVLsZUebHFkRvebL6nbRG2Sfg"
   536870915]
  [3 :user/uid "PlMA638w7gW6AT6b1H1VNYEIJK43" 536870915]
  [4 :block/children 5 536870917]
  [4 :block/uid "01-30-2021" 536870916]
  [4 :create/time 1612054318689 536870916]
  [4 :create/user 3 536870916]
  [4 :edit/time 1612054318690 536870916]
  [4 :edit/user 3 536870916]
  [4 :log/id 1612054318688 536870916]
  [4 :node/title "January 30th, 2021" 536870916]
  [5 :block/open true 536870917]
  [5 :block/order 0 536870917]
  [5 :block/page 4 536870918]
  [5 :block/parents 4 536870918]
  [5 :block/string "test" 536870919]
  [5 :block/uid "hyMDPk3oi" 536870917]
  [5 :create/time 1612054320850 536870917]
  [5 :create/user 3 536870917]
  [5 :edit/time 1612054322951 536870919] 
  [5 :edit/user 3 536870917]]}
